@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --letra-um: #333;
    --fundo-card: #222;
    --letra-dois: #fff;
    --botao: #4f46e5;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fundo-principal);
    color: var(--letra-um);
}

.head{
    /*border: 2px dashed black;*/
    padding: 1.5rem;
    background: var(--fundo-card);
    color: var(--letra-dois);
    text-align: center;
}

.container {
    /*border: 2px dashed black;*/
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

input, select, button {
    padding: 0.75rem;
    font-size: 1rem;
}

button {
    background: var(--botao);
    color: white;
    border: none;
    cursor: pointer;
}

/*Lista*/
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

li {
    background: white;
    padding: 1rem;
    border-radius: 6px;
}

@media (min-width:768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        max-width: 1000px;
        margin: 0 auto;
    }

    .form, .list {
        background: var(--letra-dois);
        padding: 1.5rem;
        border-radius: 8px;
    }
}